<% include ../layout/header %>

<div id="client">

    <div id="alert-error" class="alert alert-danger alert-dismissible error-message" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        <span class="message"></span>
    </div>

    <div id="alert-success" class="alert alert-success alert-dismissible error-message" role="alert">
        <button type="button" class="close" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <span class="message"></span>
    </div>

    <h1><%= __('ADMIN_CLIENT_PAGE_TITLE') %></h1>

    <div class="table-responsive" id="clientsTable">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><%= __('ADMIN_CLIENT_NAME_TABLE_COL_TITLE') %></th>
                <th><%= __('ADMIN_CLIENT_CLIENT_ID_TABLE_COL_TITLE') %></th>
                <th><%= __('ADMIN_CLIENT_JWT_CODE_TABLE_COL_TITLE') %></th>
                <th><%= __('ADMIN_CLIENT_REDIRECT_URI_TABLE_COL_TITLE') %></th>
                <th><%= __('ADMIN_CLIENT_EMAIL_REDIRECT_URI_TABLE_COL_TITLE') %></th>
                <th><%= __('ADMIN_CLIENT_TEMPLATE_TABLE_COL_TITLE') %></th>
                <th><%= __('ADMIN_CLIENT_SECRET_TABLE_COL_TITLE') %></th>
                <th><%= __('ADMIN_CLIENT_ACTIONS_TABLE_COL_TITLE') %></th>
            </tr>
            </thead>
            <tbody id="clientsTableTbody">

            </tbody>
        </table>
    </div>

    <p>
        <button class="btn-link" data-toggle="modal"
                data-target="#addClientModal"><%= __('ADMIN_CLIENT_ADD_A_CLIENT_LINK') %></button>
    </p>

</div>

<!-- Add client Modal -->
<% include ./modales/clients-add.ejs %>

<!-- Update client Modal -->
<% include ./modales/clients-update.ejs %>

<script type="text/javascript">

    (function () {
        var $alertError = $('#alert-error');
        var $alertSuccess = $('#alert-success');
        var $errorMessage = $('#alert-error .message');
        var $successMessage = $('#alert-success .message');
        var $addClientModal = $('#addClientModal');
        var $updateClientModal = $('#updateClientModal');

        $(document).ready(function () {
            displayList();

            $("[data-hide]").on("click", function () {
                $(this).closest("." + $(this).attr("data-hide")).hide();
            });
        });

        eventListeners = function () {
            $('.delete-client').on('click', function (event) {
                refreshMessages();
                var realId = getRealId(this);
                $.ajax({
                    url: '/api/admin/clients/' + encodeURIComponent(realId),
                    method: 'DELETE'
                }).then(
                    function (data, status, jqXHR) {
                        $successMessage.append("<%= __('ADMIN_CLIENT_MESSAGE_DELETE_CLIENT_SUCCESS') %>");
                        $alertSuccess.show();
                        displayList();
                    },
                    function (jqXHR, status, error) {
                        $errorMessage.append("<%= __('ADMIN_CLIENT_MESSAGE_DELETE_CLIENT_FAIL') %>");
                        $alertError.show();
                    }
                );
            });
            $('.refresh-secret').on('click', function (event) {
                refreshMessages();
                var realId = getRealId(this);
                $.ajax('/api/admin/clients/' + encodeURIComponent(realId) + '/secret').then(
                    function (data, status, jqXHR) {
                        $successMessage.append("<%= __('ADMIN_CLIENT_MESSAGE_REFRESH_SECRET_SUCCESS_PREFIX') %>", data.client_id, "<%= __('ADMIN_CLIENT_MESSAGE_REFRESH_SECRET_SUCCESS_SUFFIX') %>", data.secret);
                        $alertSuccess.show();
                    },
                    function (jqXHR, status, error) {
                        $errorMessage.append("<%= __('ADMIN_CLIENT_MESSAGE_REFRESH_SECRET_FAIL') %> ");
                        $alertError.show();
                    }
                );
            });
            $('.edit-client').on('click', function (event) {
                refreshMessages();
                var id = getRealId(this);
                var $dialog = $('#updateClientModal');
                var row = $(this).closest('tr');
                var clientName = row.find('.client-name').text() !== "null" ? row.find('.client-name').text() : '';
                var clientId = row.find('.client-id').text() !== "null" ? row.find('.client-id').text() : '';
                var clientRedirect = row.find('.client-redirect').text() !== "null" ? row.find('.client-redirect').text() : '';
                var clientEmailRedirect = row.find('.client-emailRedirect').text() !== "null" ? row.find('.client-emailRedirect').text() : '';
                var clientTemplate = row.find('.client-template').text() !== "null" ? row.find('.client-template').text() : '';
                var clientJwtCode = row.find('.client-jwtCode').text() !== "null" ? row.find('.client-jwtCode').text() : '';

                $dialog.find('#update-name').first().val(clientName);
                $dialog.find('#update-clientID').first().val(clientId);
                $dialog.find('#update-redirectURI').first().val(clientRedirect);
                $dialog.find('#update-emailRedirectURI').first().val(clientEmailRedirect);
                $dialog.find('#update-template').first().val(clientTemplate);
                $dialog.find('#update-id').first().val(id);
                $dialog.find('#update-jwtCode').first().val(clientJwtCode);
                $updateClientModal.modal('toggle');
            });
        };

        eventListeners();

        $('#add-client').on('click', function (event) {
            refreshMessages();

            var name = $addClientModal.find('#name').val();
            var clientId = $addClientModal.find('#clientID').val();
            var redirectUri = $addClientModal.find('#redirectURI').val();
            var template = $addClientModal.find('#template').val();
            var emailRedirectUri = $addClientModal.find('#emailRedirectURI').val();
            var jwtCode = $addClientModal.find('#jwtCode').val();

            $.ajax({
                url: '/api/admin/clients',
                method: 'POST',
                data: {
                    name: name,
                    client_id: clientId,
                    redirect_uri: redirectUri,
                    email_redirect_uri: emailRedirectUri,
                    use_template: template,
                    jwt_code: jwtCode
                }
            }).then(
                function (data, status, jqXHR) {
                    $successMessage.append("<%= __('ADMIN_CLIENT_MESSAGE_ADD_CLIENT_SUCCESS_1') %>", data.client_id, "<%= __('ADMIN_CLIENT_MESSAGE_ADD_CLIENT_SUCCESS_2') %>", data.secret, "<%= __('ADMIN_CLIENT_MESSAGE_ADD_CLIENT_SUCCESS_3') %>");
                    $alertSuccess.show();
                    $addClientModal.modal('toggle');
                    displayList();
                },
                function (errors) {
                    var modalMessage = $addClientModal.find('.alert .message').first();
                    modalMessage.append("<%= __('ADMIN_CLIENT_MESSAGE_ADD_CLIENT_FAIL') %>");
                    if (typeof errors.responseJSON.errors !== 'undefined' && errors.responseJSON.errors.length !== 0) {
                        modalMessage.append('<ul>');
                        errors.responseJSON.errors.forEach(function (error) {
                            modalMessage.append('<li>' + error.msg + '</li>');
                        });
                        modalMessage.append('</ul>');
                    }
                    $addClientModal.find('.alert').first().show();
                }
            );
        });
        $('#update-client').on('click', function (event) {
            refreshMessages();
            var id = $updateClientModal.find('#update-id').val();
            var name = $updateClientModal.find('#update-name').val();
            var clientId = $updateClientModal.find('#update-clientID').val();
            var redirectUri = $updateClientModal.find('#update-redirectURI').val();
            var emailRedirectUri = $updateClientModal.find('#update-emailRedirectURI').val();
            var template = $updateClientModal.find('#update-template').val();
            var jwtCode = $updateClientModal.find('#update-jwtCode').val();

            $.ajax({
                url: '/api/admin/clients/',
                method: 'POST',
                data: {
                    id: encodeURIComponent(id),
                    name: name,
                    client_id: clientId,
                    redirect_uri: redirectUri,
                    email_redirect_uri: emailRedirectUri,
                    use_template: template,
                    jwt_code: jwtCode
                }
            }).then(
                function (data, status, jqXHR) {
                    $successMessage.append("<%= __('ADMIN_CLIENT_MESSAGE_EDIT_CLIENT_SUCCESS') %>");
                    $alertSuccess.show();
                    $updateClientModal.modal('toggle');
                    displayList();
                },
                function (errors) {
                    var modalMessage = $updateClientModal.find('.alert .message').first();
                    modalMessage.append("<%= __('ADMIN_CLIENT_MESSAGE_EDIT_CLIENT_FAIL') %>");
                    if (typeof errors.responseJSON.errors !== 'undefined' && errors.responseJSON.errors.length !== 0) {
                        modalMessage.append('<ul>');
                        errors.responseJSON.errors.forEach(function (error) {
                            modalMessage.append('<li>' + error.msg + '</li>');
                        });
                        modalMessage.append('</ul>');
                    }
                    $updateClientModal.find('.alert').first().show();
                }
            );
        });
        //Reset all error/success messages
        refreshMessages = function () {
            $successMessage.html('');
            $errorMessage.html('');
            $alertError.hide();
            $alertSuccess.hide();
            $('.alert').hide();
            $('.alert .message').html('');
        }
        //Clear fields on modal shown
        $addClientModal.on('shown.bs.modal', function () {
            $(this).find('#name').first().val('');
            $(this).find('#clientID').first().val('');
            $(this).find('#redirectURI').first().val('');
            $(this).find('#emailRedirectURI').first().val('');
            $(this).find('#template').first().val('');
            $(this).find('#jwtCode').first().val('');
        })

        //Get all clients and rebuild the view
        function displayList() {
            $.ajax({
                url: '/api/admin/clients/',
                method: 'GET'
            }).then(
                function (data, status, jqXHR) {
                    //$("#clientsTable > tbody").html("");
                    $("#clientsTable").find("tr:gt(0)").remove();

                    for (var i = 0; i < data.length; i++) {
                        $('#clientsTable tr:last').after(buildRow(data[i].id, data[i].name, data[i].client_id, data[i].jwt_code, data[i].redirect_uri, data[i].email_redirect_uri, data[i].use_template));
                    }
                    eventListeners();
                },
                function (jqXHR, status, error) {
                    $errorMessage.append("<%= __('ADMIN_CLIENT_ERROR_CANNOT_LOAD_CLIENT_LIST') %>");
                    $alertError.show();
                }
            );
        }

        //build the html for each row which is added to client table
        function buildRow(id, name, client_id, client_jwt_code, redirect_uri, email_redirect_uri, template) {
            redirect_uri = redirect_uri !== null ? redirect_uri : '';
            email_redirect_uri = email_redirect_uri !== null ? email_redirect_uri : '';
            client_jwt_code = client_jwt_code !== null ? client_jwt_code : '';
            var edit = "<%= __('ADMIN_CLIENT_ACTIONS_EDIT_CLIENT') %>";
            var del = "<%= __('ADMIN_CLIENT_ACTIONS_DELETE_CLIENT') %>";
            var reg = "<%= __('ADMIN_CLIENT_ACTIONS_REGENERATE_CLIENT_SECRET') %>";

            var row = '';
            row += '            <tr>\n';
            row += '                <td class="client-name">' + name + '</td>\n';
            row += '                <td class="client-id">' + client_id + '</td>\n';
            row += '                <td class="client-jwtCode">' + client_jwt_code + '</td>\n';
            row += '                <td class="client-redirect">' + redirect_uri + '</td>\n';
            row += '                <td class="client-emailRedirect">' + email_redirect_uri + '</td>\n';
            row += '                <td class="client-template">' + template + '</td>\n';
            row += '                <td class="client-secret">****************</td>\n';
            row += '                <td>\n';
            row += '                    <span class="hidden real-id">' + id + '</span>\n';
            row += '                    <div class="btn-toolbar" role="toolbar">\n';
            row += '                        <div class="btn-group">\n';
            row += '                            <button type="button" class="btn btn-default edit-client" aria-label="' + edit + '" title="' + edit + '">\n';
            row += '                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>\n';
            row += '                            </button>\n';
            row += '                            <button type="button" class="btn btn-default delete-client" aria-label="' + del + '" title="' + del + '">\n';
            row += '                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>\n';
            row += '                            </button>\n';
            row += '                            <button type="button" class="btn btn-default refresh-secret" aria-label="' + reg + '" title="' + reg + '">\n';
            row += '                                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>\n';
            row += '                            </button>\n';
            row += '                        </div>\n';
            row += '                    </div>\n';
            row += '                </td>\n';
            row += '            </tr>\n';

            return row;
        }

        //Get the DB id corresponding to a single row
        function getRealId(target) {
            var row = $(target).closest('tr');
            var cell = row.find('.real-id');
            return cell.text();
        }
    })();
</script>

<% include ../layout/foot %>
