<% include ../layout/head %>

<h1>Service Providers</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= __('ADMIN_DOMAIN_NAME_TABLE_COL_TITLE')%></th>
      <th><%= __('ADMIN_DOMAIN_DOMAIN_TABLE_COL_TITLE')%></th>
      <th><%= __('ADMIN_DOMAIN_ACCESS_TOKEN_TABLE_COL_TITLE')%></th>
    </tr>
  </thead>
  <tbody>
    <% for (var i = 0; i < domains.length; i++) { %>
      <tr>
        <td><%= domains[i].display_name %></td>
        <td><%= domains[i].name %></td>
        <td><%= domains[i].access_token %></td>
      </tr>
    <% } %>
  </tbody>
</table>

<p><a href="<%= link('/admin/domains/add') %>"><%= __('ADMIN_DOMAIN_ADD_A_SERVICE_PROVIDER_LINK')%></a></p>

<% include ../layout/foot %>
