<% include ../layout/header %>

<h1><%= __('ADMIN_TITLE') %></h1>

<p><a id="providers-link" href="<%= link('/admin/domains') %>"><%= __('ADMIN_SERVICE_PROVIDER_LINK') %></a></p>

<p><a id="client-link" href="<%= link('/admin/clients') %>"><%= __('ADMIN_CLIENT_LINK') %></a></p>

<% if(config.displayUsersInfos) { %>
<p><a id="users-link" href="<%= link('/admin/users') %>"><%= __('ADMIN_USERS_LINK') %></a></p>
<% } %>
<% include ../layout/foot %>
