<% include ../layout/header %>

<div id="users">

    <h1><%= __('ADMIN_USERS_TITLE') %></h1>

    <div class="toolbar">
        <div class="row">
            <div class="col-sm-1">
                <input id="search-id-users" type="text" class="form-control input-lg" placeholder="<%= __('ADMIN_USERS_SEARCH_INPUT_ID') %>" />
            </div>
            <div class="col-sm-3">
                <input id="search-email-users" type="text" class="form-control input-lg" placeholder="<%= __('ADMIN_USERS_SEARCH_INPUT_EMAIL') %>" />
            </div>
            <div class="col-sm-3">
                <input id="search-lastname-users" type="text" class="form-control input-lg" placeholder="<%= __('ADMIN_USERS_SEARCH_INPUT_LASTNAME') %>" />
            </div>
            <div class="col-sm-3">
                <input id="search-firstname-users" type="text" class="form-control input-lg" placeholder="<%= __('ADMIN_USERS_SEARCH_INPUT_FIRSTNAME') %>" />
            </div>
            <div class="col-sm-2 text-right">
                <button id="search-users" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Rechercher
                </button>
            </div>
        </div>
    </div>
    <div class="subtoolbar">
        <div class="search">
            <div class="row">
                <div class="col-xs-12">
                    <a class="btn btn-default" id="export-csv" href="/admin/users/csv">
                        <span class="glyphicon glyphicon-download"></span>&nbsp;<%= __('ADMIN_USERS_CSV_DOWNLOAD_LINK') %>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="alert-success" class="alert alert-success alert-dismissible" role="alert">

    </div>

    <div id="alert-error" class="alert alert-danger alert-dismissible" role="alert">

    </div>

    <div class="table-responsive">
        <table id="table-users" class="table table-striped">
            <thead>
            <tr>
                <th><%= __('ADMIN_USERS_ID_TABLE_COL_TITLE') %></th>
                <th><%= __('ADMIN_USERS_EMAIL_TABLE_COL_TITLE') %></th>
                <th><%= __('ADMIN_USERS_PERMISSIONS_TABLE_COL_TITLE') %></th>
                <th><%= __('ADMIN_USERS_CREATED_TABLE_COL_TITLE') %></th>
                <th><%= __('ADMIN_USERS_PASSWORD_CHANGED_TABLE_COL_TITLE') %></th>
                <th><%= __('ADMIN_USERS_LAST_LOGIN_TABLE_COL_TITLE') %></th>
            </tr>
            </thead>
            <tbody>
            <% for (var i = 0; i < users.length; i++) { %>
            <tr id="user-<%= users[i].id %>">
                <td><%= users[i].id %></td>
                <td><%= users[i].email %></td>
                <td>
                    <select class="permission form-control">
                        <option value="default" disabled selected>
                            none
                        </option>
                        <% for (var j = 0; j < permissions.length; j++) { %>
                        <option value="<%= users[i].id %>_<%= permissions[j].id %>"
                                <% if(typeof users[i].permission_id !== "undefined" && permissions[j].id === users[i].permission_id){ %>
                                selected
                                <% } %>
                        >
                            <%= permissions[j].label %>
                        </option>
                        <% } %>
                    </select>
                </td>
                <td><%= moment(users[i].created_at).format('DD/MM/YYYY - HH:mm'); %></td>
                <td><%= moment(new Date(users[i].password_changed_at)).format('DD/MM/YYYY - HH:mm'); %></td>
                <td>
                    <% if(users[i].last_login_at) { %>
                    <%= moment(new Date(users[i].last_login_at)).format('DD/MM/YYYY - HH:mm'); %>
                    <% } %>
                </td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>

</div>

<!-- TODO move it to an appropriate file -->
<script type="text/javascript">

    (function () {

        var search = $('#search-users');
        var table = $('#table-users');

        var errorSuccess = $("#alert-success");
        var errorAlert = $("#alert-error");
        var loaded = false;
        var offset = 0;
        var LIMIT = 20;

        errorSuccess.hide();
        errorAlert.hide();

        $('.permission').on('change', function () {

            if ($(this).val() == "default") {
                return;
            }

            var params = $(this).val().split("_");
            var userId = params[0];
            var permissionId = params[1];

            $.ajax({
                url: '/admin/users/' + userId + '/permission',
                type: 'POST',
                data: {
                    permissionId: permissionId
                }
            }).done(function (data) {
                errorSuccess.html("Successfully changed " + data.user.email + " permission");
                errorSuccess.show();
            }).fail(function (error) {
                errorAlert.html("Error changin " + data.user.email + " permission, please try again");
                errorAlert.show();
            });
        });

        $(window).scroll(function() {
            if ($(window).scrollTop() + $(window).height() >=
                $('main').offset().top + $('main').height() && !loaded) {

                var data = {
                    offset: offset,
                    limit: LIMIT
                };
                loaded = true;
                offset += 20;

                $.ajax({
                    url: '/api/admin/users',
                    type: 'GET',
                    data: data
                }).done(function (data) {
                    if(data.users.length > 0) {
                        fillUserTable(data.users, "append");
                    }
                }).fail(function (error) {
                    console.log("error", error);
                });
            }
        });

        search.on('click', function() {
            var data = {
                limit: LIMIT
            };
            if($('#search-id-users').val()) {
               data.id = $('#search-id-users').val();
            }
            if($('#search-email-users').val()) {
                data.email = $('#search-email-users').val();
            }
            if($('#search-lastname-users').val()) {
                data.lastname = $('#search-lastname-users').val();
            }
            if($('#search-firstname-users').val()) {
                data.firstname = $('#search-firstname-users').val();
            }
            $.ajax({
                url: '/api/admin/users',
                type: 'GET',
                data: data
            }).done(function (data) {
                fillUserTable(data.users, "reset");
            }).fail(function (error) {
                console.log("error", error);
            });
        });

        function fillUserTable(users, type) {
            var body = table.find('tbody').first();
            if(type === "reset") {
                body.html('');
            }
            if(!users || users.length === 0) {
                return;
            }

            var permissions = [];
            <% for (var j = 0; j < permissions.length; j++) { %>
                permissions.push({id: <%= permissions[j].id %>, label: "<%= permissions[j].label %>"});
            <% } %>
            var rows = '';

            $.each(users, function(index, user) {
                var row = "<tr id='user-" + user.id + "'>";
                var select = "";
                row += "<td>" + user.id + "</td>";
                row += "<td>" + user.email + "</td>";

                select += '<select class="permission form-control">';
                select += '<option value="default" disabled selected> none </option>';
                $.each(permissions, function(key, permission) {
                    select += '<option value="' + user.id + '_' + permission.id + '"';
                    if(typeof user.permission_id !== "undefined" && permission.id === user.permission_id) {
                        select += 'selected';
                    }
                    select += '> ' + permission.label;
                });
                select += '</select>';

                row += "<td>" + select + "</td>";
                row += "<td>" + moment(user.created_at).format('DD/MM/YYYY - HH:mm'); + "</td>";
                row += "<td>" + moment(new Date(user.password_changed_at)).format('DD/MM/YYYY - HH:mm'); + "</td>";
                row += "<td>" + moment(new Date(user.last_login_at)).format('DD/MM/YYYY - HH:mm'); + "</td>";
                row += "</tr>";
                rows += row;
            });
            body.append(rows);
            loaded = false;
        }

    })();

</script>

<% include ../layout/foot %>
