<% include ../layout/head %>

<h1>Users</h1>

<a id="export-csv" href="/admin/users/csv">
    <span class="glyphicon glyphicon-download"></span> CSV
</a>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Email</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i < users.length; i++) { %>
        <tr id="user-<%=users[i].id%>">
            <td><%= users[i].email %></td>
            <td>
                <select id="role" class="form-control">
                    <option value="default" selected>
                        none
                    </option>
                    <% for (var j = 0; j < roles.length; j++) { %>
                        <option value="<%= users[i].id %>_<%= roles[j].id %>" <% if(typeof users[i].role_id !== "undefined" && roles[j].id === users[i].role_id){ %> selected <% } %>>
                            <%= roles[j].label %>
                        </option>
                    <% } %>
                </select>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>

<!-- TODO move it to an appropriate file -->
<script type="text/javascript">

    (function() {

        $('#role').on('change', function() {

            if($(this).val() == "default"){
                return;
            }

            var params = $(this).val().split("_");
            var userId = params[0];
            var roleId = params[1];
            $.ajax({
                url : '/admin/users/' + userId + '/role',
                type : 'POST',
                data : {
                    role: roleId
                }
            }).done(function() {
                console.log("Success");
            }).fail(function() {
                console.log("Error");
            });
        });

    })();

</script>

<% include ../layout/foot %>
