<h1>Hello,</h1>
<p>To recover your password click on the following link: <a href="<%=host%>/password/edit?email=<%=mail%>&code=<%=code%>"><%=host%>/password/edit?email=<%=mail%>&code=<%=code%></a></p>


<p>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br/>
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<p>
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/>
    Excepteur sint occaecat c