<% include ../layout/header %>

<div></div>

<p><%= __('OAUTH_DIALOG_TITLE_HI') %> <%= user.display_name || email %></p>
<p>
    <% if(customMessage){ %>
    <%= customMessage %>
    <% } else { %>
    <b><%= client.name %></b>
    <%= __('OAUTH_DIALOG_TITLE') %>
    <% } %>
</p>
<p>
    <%= __('OAUTH_DIALOG_APPROVAL') %>
</p>

<form action="<%= link('/oauth2/dialog/authorize/decision') %>" method="post">
    <input name="transaction_id" type="hidden" value="<%= transactionID %>">
    <div>
        <input type="submit" value="<%= __('OAUTH_DIALOG_ALLOW') %>" id="allow">
        <input type="submit" value="<%= __('OAUTH_DIALOG_DENY') %>" name="cancel" id="deny">
    </div>
</form>

<% include ../layout/foot %>
