<% include layout/header %>

<div id="login">

    <div class="container">

        <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">

            <div id="login-panel">
                <h1 class="title text-center">
                    <%= __('LOGIN_TITLE') %>
                </h1>

                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">

                        <!-- show any messages that come back with authentication -->
                        <% if (message.length > 0) { %>
                        <div class="alert alert-danger"><%= message %></div>
                        <% } %>

                        <div id="login-info" class="alert alert-info"></div>

                        <!-- LOGIN FORM -->
                        <form class="connect-forms" action="<%= link('/login') %>" method="post">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email"
                                       placeholder="<%= __('LOGIN_EMAIL_LABEL') %>">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password"
                                       placeholder="<%= __('LOGIN_PASSWORD_LABEL') %>">
                                <a id="password-recovery"
                                   class="btn-link"
                                   href="<%= link('/password/recovery') %>"><%= __('LOGIN_FORGOT_PASSWORD_LINK') %></a>
                            </div>

                            <button type="submit"
                                    class="btn btn-primary btn-block btn-large-submit"><%= __('LOGIN_LOGIN_BUTTON') %></button>
                        </form>

                        <% if(config.identity_providers.facebook.enabled || config.identity_providers.googleplus.enabled || config.identity_providers.twitter.enabled) { %>

                        <div class="row social">
                            <% if(config.identity_providers.googleplus.enabled) { %>
                            <div class="text-center">
                                <a href="<%= link('/auth/google') %>"
                                   class="identity_provider googleplus">
                                    <img class="login-images" src="/assets/img/logoroundg+.svg"/>
                                    <p class="login-social-labels">
                                        <%= __('LOGIN_GOOGLE_PLUS_BUTTON') %>
                                    </p>
                                </a>
                            </div>
                            <% } %>
                            <% if(config.identity_providers.facebook.enabled) { %>
                            <div class="text-center">
                                <a href="<%= link('/auth/facebook') %>"
                                   class="identity_provider facebook">
                                    <img class="login-images" src="/assets/img/logoroundfacebook.svg"/>
                                    <p class="login-social-labels">
                                        <%= __('LOGIN_FACEBOOK_BUTTON') %>
                                    </p>
                                </a>
                            </div>
                            <% } %>
                            <% if(config.identity_providers.twitter.enabled) { %>
                            <div class="text-center">
                                <img class="login-images" src="/assets/img/logoroundtwitter.svg"/>
                                <p class="login-social-labels"><%= __('LOGIN_TWITTER_BUTTON') %></p>
                            </div>
                            <% } %>
                        </div>
                        <% } %>

                        <p class="last-link"><%= __('LOGIN_NEED_AN_ACCOUNT_LINK') %> <a
                                    class="btn-link" href="<%= link('/signup') %>"><%= __('LOGIN_SIGNUP_LINK') %></a>
                        </p>
                        
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<script type="text/javascript">
    (function () {
        var socials = $('.social div');
        var infoMessage = $('#login-info');

        switch (socials.length) {
            case 1:
                socials.addClass('col-sm-12');
                break;
            case 2:
                socials.addClass('col-sm-6');
                break;
            case 3:
                socials.addClass('col-sm-4');
                break;
            default:
                break;
        }
        if (typeof localStorage !== 'undefined') {
            var message = localStorage.getItem('loginMessage');
            if (message) {
                infoMessage.text(message);
                localStorage.setItem('loginMessage', '');
                infoMessage.show();
            }
        }
    })();
</script>

<% include layout/foot %>
