<% include layout/header %>

<div id="password-edit">

    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="login-panel">

                <h1 class="title text-center">
                    <%= __('PASSWORD_EDIT_TITLE') %>
                </h1>

                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">

                        <div id="verification-error" class="alert alert-danger error-message" role="alert"></div>
                        <div id="verification-success" class="alert alert-success alert-success-custom error-message" role="alert">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span class="text"><%= __('PASSWORD_EDIT_LOGIN_WITH_NEW_PASSWORD_LINK_PREFIX') %> <a
                                        href="<%= link('/auth/local') %>"><%= __('PASSWORD_EDIT_LOGIN_WITH_NEW_PASSWORD_LINK') %></a> </span>
                        </div>

                        <!-- LOGIN FORM -->
                        <form id="password-edit-form" class="connect-forms" action="<%= link('/password/update') %>" method="post">
                            <div class="form-group">
                                <input type="password" class="form-control password-test" name="password"
                                       placeholder="<%= __('PASSWORD_EDIT_NEW_PASSWORD_FORM_LABEL') %>">
                                <p id="password-error-label" class="password-error error-message text-danger"></p>
                                <div id="password-bar"><div id="password-progress"></div></div>
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control" name="confirm-password"
                                       placeholder="<%= __('PASSWORD_EDIT_CONFIRM_PASSWORD_FORM_LABEL') %>">
                            </div>

                            <button type="submit"
                                    class="btn btn-primary btn-block btn-large-submit"><%= __('PASSWORD_EDIT_CONFIRM_FORM_BUTTON') %></button>

                            <input type="hidden" name="email" value="<%= email %>">
                            <input type="hidden" name="code" value="<%= code %>">
                        </form>

                        <a class="btn-link" href="<%= link('/auth/local') %>">
                            <%= __('PASSWORD_EDIT_BACK_TO_LOGIN_LINK') %>
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<% include util/password-support %>

<script type="text/javascript">
    (function () {
        var $verifSuccess = $("#verification-success");
        var $verifError = $("#verification-error");
        var $passwordStrengthProgress = $("#password-progress");

        $('#password-edit-form').submit(function (e) {
            e.preventDefault();

            $verifError.hide();
            $verifSuccess.hide();

            $(this).ajaxSubmit({
                error: function (result) {
                    $verifError.empty();
                    $passwordStrengthProgress.width(0);

                    if (result.responseJSON.errors) {
                        $.each(result.responseJSON.errors, function (index, error) {
                            $verifError.append($('<p>').html(error.msg));
                        });
                    } else if (!result.responseJSON.msg) {
                        $verifError.append($('<p>').html("<%= __('PASSWORD_EDIT_JS_ERROR_MSG') %>"));
                    } else {
                        $verifError.append($('<p>').html(result.responseJSON.msg));
                    }

                    $verifError.show();
                },
                success: function () {
                    $('#password-edit-form').remove();
                    $verifSuccess.show();
                }
            });
        });
    })();
</script>

<% include layout/foot %>
