<% include layout/header %>

<div id="password-recovery">

    <div class="container">

        <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">

            <a class="" href="<%= link('/auth/local') %>"><span class="glyphicon glyphicon-chevron-left"></span><%= __('PASSWORD_RECOVERY_BACK_TO_LOGIN_LINK')%></a>

            <div id="login-panel" class="panel panel-default">
                <div class="panel-body">
                    <h1 class="title">
                        <%= __('PASSWORD_RECOVERY_TITLE')%>
                    </h1>

                    <div id="verification-error" class="alert alert-danger error-message" role="alert"> </div>
                    <div id="verification-success" class="alert alert-success error-message" role="alert"> <span class="glyphicon glyphicon-ok"></span> <span class="text"></span> </div>

                    <!-- LOGIN FORM -->
                    <form id="password-form" action="<%= link('/password/code') %>" method="post">
                        <div class="form-group">
                            <label><%= __('PASSWORD_RECOVERY_EMAIL_LABEL')%></label>
                            <input type="email" class="form-control" name="email">
                        </div>

                        <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="<%= config.recaptcha.site_key %>" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
                        </div>

                        <button id="submit-password" type="submit" class="btn btn-primary btn-block"><%= __('PASSWORD_RECOVERY_RESET_PAWWORD_BUTTON')%></button>

                    </form>

                </div>
            </div>

        </div>

    </div>

</div>

<script type="text/javascript">
    (function () {
        var $verifSuccess = $("#verification-success");
        var $verifError = $("#verification-error");

        $('#password-form').submit(function(e) {
            e.preventDefault();

            $verifError.hide();
            $verifSuccess.hide();

            $(this).ajaxSubmit({
                error: function (result) {

                    $verifError.empty();

                    if (result.responseJSON.errors ){
                        $.each(result.responseJSON.errors, function (index, error) {
                            $verifError.append($('<p>').text(error.msg));
                        });
                    } else if(!result.responseJSON.msg) {
                        $verifError.append($('<p>').text("<%= __('PASSWORD_RECOVERY_JS_ERROR_MSG')%>"));
                    } else {
                        $verifError.append($('<p>').text(result.responseJSON.msg));
                    }
                    $verifError.show();
                },
                success: function () {
                    $("#password-form").remove();
                    $verifSuccess.find(".text").first().text("<%= __('PASSWORD_RECOVERY_JS_SUCCESS_MSG')%>");
                    $verifSuccess.show();
                }
            });
        });
    })();
</script>

<% include layout/foot %>
