<% include layout/header %>

<div></div>

<div class="panel panel-info">
  <div class="panel-heading"><%= __('VERIFY_PREFILLED_CODE_TITLE')%></div>

  <div class="panel-body">
    <form method="POST" action="<%= link('/verify') %>">
      <div class="form-group has-success">
        <%= client_name %> <%= __('VERIFY_MAIN_LABEL_PREFIX')%> <%= domain %><%= __('VERIFY_MAIN_LABEL_PREFIX')%>
      </div>

      <input type="hidden" name="verification_type" value="prefilled_user_code">
      <input type="hidden" name="user_code" value="<%= user_code %>">
      <input type="hidden" name="redirect_uri" value="<%= redirect_uri %>">
      <input type="submit" class="btn btn-success" name="authorization" value="<%= __('VERIFY_MAIN_ALLOW_BUTTON')%>">
      <input type="submit" class="btn btn-danger" name="authorization" value="<%= __('VERIFY_MAIN_DENY_BUTTON')%>">
    </form>
  </div>
</div>

<% include layout/foot %>
