<% include layout/head %>

<div></div>

<form method="POST" action="<%= link('/verify') %>">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">Pending Authorization</div>
    </div>
    <table class="table">
      <tr>
        <th>Device id</th>
        <th>Domain</th>
        <th>Accept?</th>
      </tr>
      <% for(var i=0; i<pairing_codes.length; i++) { %>
      <tr>
        <td>
          <%= pairing_codes[i].client_id %>
        </td>
        <td>
          <%= pairing_codes[i].domain.display_name %>
        </td>
        <td width="20%">
          <input type="radio" name="pairing_code_<%= pairing_codes[i].id %>" value="yes" checked> Yes
          <input type="radio" name="pairing_code_<%= pairing_codes[i].id %>" value="no"> No
        </td>
      </tr>
      <% } %>
    </table>
    <div class="panel-footer">
      <input type="submit" class="btn btn-default" name="submit" value="Verify">
    </div>
  </div>
</form>

<% include layout/foot %>
