<% include layout/header %>

<div id="verify-mail" xmlns="http://www.w3.org/1999/html">

    <div class="container">

        <div class="col-sm-6 col-sm-offset-3">

            <% if (verified) { %>

            <div id="success-panel" class="panel panel-default">
                <div class="panel-body text-center">

                    <h1 class="title text-success">
                        <span class="glyphicon glyphicon-ok-circle"></span>
                        <%= __('VERIFY_MAIL_EMAIL_VALIDATION_LABEL') %>
                    </h1>

                    <p><%= __('VERIFY_MAIL_SUCCESS_LABEL') %></p>

                    <span class="link"><%= __('VERIFY_MAIL_GO_TO_LINK_PREFIX') %> <a href="<%= link('/user/profile') %>"
                                                                                     class="btn-link"><%= __('VERIFY_MAIL_GO_TO_LINK_SUFFIX') %></a></span>
                </div>
            </div>

            <% } else { %>

            <div id="error-panel" class="panel panel-default">
                <div class="panel-body text-center">

                    <h1 class="title text-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <%= __('VERIFY_MAIL_EMAIL_VALIDATION_LABEL') %>
                    </h1>

                    <p><%= __('VERIFY_MAIL_ERR_LABEL_1') %></p>
                    <p><%= __('VERIFY_MAIL_ERR_LABEL_2') %> <a
                                href="<%= link('/user/profile') %>"><%= __('VERIFY_MAIL_ERR_LABEL_3') %></a> <%= __('VERIFY_MAIL_ERR_LABEL_4') %>
                    </p>

                    <div class="separator row">
                        <div class="line"></div>
                        <span><%= __('VERIFY_MAIL_OR_LABEL') %></span>
                        <div class="line"></div>
                    </div>


                    <span class="link"><%= __('VERIFY_MAIL_LOGIN_PAGE_LINK_LABEL_PREFIX') %> <a
                                href="<%= link('/auth/local') %>"
                                class="btn-link"><%= __('VERIFY_MAIL_LOGIN_PAGE_LINK_LABEL') %></a></span>
                </div>
            </div>

            <% } %>

        </div>
    </div>

</div>

<% include layout/foot %>
