<% include ../layout/head %>

<h1>Devices <small>(<%= devices.length %>)</small></h1>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th>Client Id</th>
      <th>Name</th>
      <th>Owner</th>
      <th>Authorizations</th>
    </tr>

    <% devices.forEach(function(el, i) { %>
    <tr>
      <td><%= el.id %></td>
      <td><%= el.name %></td>
      <td><%= el.user.display_name %></td>
      <td>
        <ul>
        <% el.accessTokens.forEach(function(token, j) { %>
          <li><%= token.domain.name %></li>
        <% }); %>
        </ul>
      </td>
    </tr>

    <% }); %>
  </table>
  <a href="/verify" class="pull-right text"><i class='glyphicon glyphicon-plus small'></i> Associate a device</a>
</div>
<% include ../layout/foot %>
