<% include ../layout/header %>

<div id="devices">
    <div class="row">
        <div class="col-sm-12">
            <h1><%= __('USER_DEVICES_TITLE') %>
                <small>(<%= devices.length %>)</small>
                <a href="<%= link('/verify') %>" class="btn-link link-add-device">
                    <%= __('USER_DEVICES_ASSOCIATE_DEVICE_LINK') %>
                </a>
            </h1>
        </div>
    </div>

    <hr/>

    <div id="table-devices" class="table table-striped table-responsive">
        <table class="table">
            <tr>
                <th><%= __('USER_DEVICES_NAME_TABLE_COL_TITLE') %></th>
                <th><%= __('USER_DEVICES_AUTHORIZED_DOMAINS_TABLE_COL_TITLE') %></th>
                <th><%= __('USER_DEVICES_ACTIONS_TABLE_COL_TITLE') %></th>
            </tr>

            <% devices.forEach(function(client, i) { %>
            <tr data-id="<%= client.id %>">
                <td><%= client.name %></td>
                <td class="small">
                    <ul>
                        <% client.AccessTokens.forEach(function(token, j) { %>
                        <li>
                            <%= token.Domain.name %>
                            <span class="label label-success">token</span>
                        </li>
                        <% }); %>
                        <% client.PairingCodes.forEach(function(code, j) { %>
                        <li>
                            <%= code.Domain.name %>
                            <% if (code.state === 'verified') { %>
                            <span class="label label-info"><%= code.state %></span>
                            <% } %>
                            <% if (code.state === 'pending') { %>
                            <span class="label label-warning"><%= code.state %></span>
                            <% } %>
                            <% if (code.state === 'denied') { %>
                            <span class="label label-danger"><%= code.state %></span>
                            <% } %>
                        </li>
                        <% }); %>
                    </ul>
                </td>
                <td>
                    <input type="submit" class="btn btn-danger btn-xs revoke-btn" data-id="<%= client.id %>"
                           value="Revoke">
                </td>
            </tr>
            <% }); %>
        </table>
    </div>

</div>
<script>
    $('.revoke-btn').click(function () {
        if (confirm("Are you sure you want to revoke this device?")) {
            var accessTokenId = $(this).data('id');
            $.ajax({
                url: "<%= link('/user/client/') %>" + accessTokenId,
                type: 'DELETE',
                success: function (result) {
                    $('tr[data-id="' + accessTokenId + '"]').remove();
                }
            });
        }
    });
</script>

<% include ../layout/foot %>
