<%- include ../layout/header %>

<div id="home">

    <div class="row">

        <div class="col-sm-6 col-sm-offset-3">
            <a class="home-panel" href="<%= link('/user/profile') %>">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-menu-right text-info home-icon"></span>
                        <h3 class="text-info"><%= __('HOME_MY_PROFILE_TITLE') %></h3>
                        <p>
                            <%= __('HOME_PERSONNAL_DATA_LINK') %>
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <a class="home-panel" href="<%= link('/user/devices') %>">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-menu-right text-info home-icon"></span>
                        <h3 class="text-info"><%= __('HOME_MY_DEVICES_TITLE') %></h3>
                        <p>
                            <%= __('HOME_DEVICES_LINK') %>
                        </p>
                    </div>
                </div>
            </a>
        </div>

    </div>

</div>

<%- include ../layout/foot %>
