<div class="row">
    <div class="col-sm-12">
        <h2>Settings</h2>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-sm-3">
        <h4 class="hidden-xs">Personal data</h4>
        <h4 class="visible-xs-inline-block hidden-sm mobile-title">Personal data</h4>
        <button id="modify-data" type="button" class="btn btn-link">Edit</button>
        <hr class="visible-xs-block hidden-sm"/>
    </div>
    <div class="col-sm-9">

        <div id="form-personnal-data-errors" class="alert alert-danger alert-dismissible error-block" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <span class="title">Please verify that the fields below are filled in and valid before submitting the form</span>
            <span id="personnal-data-errors" class="content"></span>
        </div>

        <div id="personnal-data">
            <form id="form-personnal-data">
                <div class="panel">
                    <h4>Firstname</h4>
                    <% if (profile.firstname) { %>
                    <span class="data-value"><%= profile.firstname %></span>
                    <% } else { %>
                    <span class="data-value"></span>
                    <% } %>
                    <input id="firstname" name="firstname" class="form-control personnal-data-input"
                           placeholder="Firstname"/>
                </div>
                <div class="panel">
                    <h4>Lastname</h4>
                    <% if (profile.lastname) { %>
                    <span class="data-value"><%= profile.lastname %></span>
                    <% } else { %>
                    <span class="data-value"></span>
                    <% } %>
                    <input id="lastname" name="lastname" class="form-control personnal-data-input"
                           placeholder="Lastname"/>
                </div>
                <div class="panel">
                    <h4>Birthdate</h4>
                    <span class="data-value"></span>
                    <div class="input-group date personnal-data-input" data-provide="datepicker" data-language="en">
                        <input id="birthday" name="birthday" class="form-control" type="text">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <h4>Sexe</h4>
                    <% if (profile.gender) { %>
                    <% if (profile.gender === "female") { %>
                    <span class="data-value" data-selected="<%= profile.gender %>">Woman</span>
                    <% } else { %>
                    <span class="data-value" data-selected="<%= profile.gender %>">Man</span>
                    <% } %>
                    <% } else { %>
                    <span class="data-value" data-selected="male"></span>
                    <% } %>
                    <select id="gender" name="gender" class="form-control personnal-data-input">
                        <option value="male">Man</option>
                        <option value="female">Woman</option>
                    </select>
                </div>
                <div class="panel">
                    <h4>Email</h4>
                    <% if (profile.email !== null) { %>
                    <span><%= profile.email %></span>
                    <% } else { %>
                    <span></span>
                    <% } %>
                </div>
                <div id="btn-container">
                    <button id="btn-save-data" type="submit" class="btn btn-primary">Save</button>
                    <button id="btn-cancel-save" type="submit" class="btn btn-link">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>
<hr class="hidden-xs"/>
<div class="row">
    <div class="col-sm-3">
        <h4 class="hidden-xs">Security</h4>
        <h4 class="visible-xs-inline-block hidden-sm mobile-title">Security</h4>
        <hr class="visible-xs-block hidden-sm"/>
    </div>
    <div class="col-sm-9">

        <div id="form-security-errors" class="alert alert-danger alert-dismissible error-block" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <span id="security-errors" class="content"></span>
        </div>

        <h4>Password</h4>
        <button id="btn-modify-password" type="button" class="btn btn-link">Edit your password</button>
        <form id="form-modify-pass">
            <div class="form-group">
                <label for="old-password">Previous password</label>
                <input type="password" class="form-control" id="previous-password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="new-password">New password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm password</label>
                <input type="password" class="form-control" id="confirm-password" placeholder="Password">
            </div>
            <div>
                <button id="btn-save-password" type="submit" class="btn btn-primary">Save</button>
                <button id="btn-cancel-password" class="btn btn-link">Cancel</button>
            </div>
        </form>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-sm-3">
        <h4 class="hidden-xs">Delete account</h4>
        <h4 class="visible-xs-inline-block hidden-sm mobile-title">Delete account</h4>
        <hr class="visible-xs-block hidden-sm"/>
    </div>
    <div class="col-sm-9">
        <div class="delete-container">
            <p>Click the button below to delete your account</p>
            <a class="btn btn-danger" disabled="disabled">Delete account</a>
        </div>
    </div>
</div>

<!-- TODO move it to an appropriate file -->
<script type="text/javascript">
    (function () {

        // VARIABLES AND INITIALIZATION
        var $modifyDataBtn = $('#modify-data');
        var $saveDataBtn = $('#btn-save-data');
        var $cancelBtn = $('#btn-cancel-save');
        var $savePasswordBtn = $('#btn-save-password');
        var $cancelPasswordBtn = $('#btn-cancel-password');
        var $modifyPassBtn = $('#btn-modify-password');
        var $formModifyPass = $('#form-modify-pass');
        var $btnContainer = $('#btn-container');

        var $firstname = $("#firstname");
        var $lastname = $("#lastname");
        var $gender = $("#gender");
        var $previousPassword = $("#previous-password");
        var $password = $("#password");
        var $confirmPassword = $("#confirm-password");
        var $birthday = $("#birthday");
        var $inputs = $('.personnal-data-input');
        var $datepicker = $(".input-group.date");
        var date = "";

        //Little css trick so that date input render correctly but does not appear quickly at loading
        $inputs.hide();
        $inputs.css('visibility', 'visible');

        // LOCAL FUNCTIONS
        var closeEditMode = function () {
            $("#personnal-data .panel").each(function (index, element) {
                var $element = $(element);
                var $dataField = $element.find(".data-value").first();
                var $inputField = $element.find('.personnal-data-input').first();

                //Show labels and hide fields
                $inputField.hide();
                $btnContainer.hide();
                $dataField.show();
                $modifyDataBtn.show();
            });
        };

        var formatDate = function (date) {
            var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var year = date.getFullYear();
            return day + "/" + month + "/" + year;
        };

        var createDate = function (sDate) {
            var date = sDate.substr(6, 4) + "/" + sDate.substr(3, 2) + "/" + sDate.substr(0, 2);
            return new Date(date);
        };

        var resetErrors = function (formClass, errorsClass) {
            $("#" + formClass).hide("fast");
            $("#" + errorsClass).empty();
        };

        //Init date field and datepicker
        if ("<%= profile.birthdate %>" && "<%= profile.birthdate %>" != "null" && "<%= profile.birthdate %>" !== null && "<%= profile.birthdate %>" != "undefined") {
            date = new Date(parseInt("<%= profile.birthdate %>"));
            $datepicker.prev(".data-value").text(formatDate(date));
        }
        $datepicker.datepicker({
            format: 'dd/mm/yyyy',
            endDate: "0d"
        });

        // EVENTS
        $modifyDataBtn.on('click', function (e) {
            e.preventDefault();

            var $this = $(this);
            //Hide Modify button
            $this.hide();

            $("#personnal-data .panel").each(function (index, element) {
                var $element = $(element);
                var $dataField = $element.find(".data-value").first();
                var value = String($dataField.text());
                var $inputField = $element.find('.personnal-data-input').first();

                //If it is date field, update it correctly
                if ($inputField.hasClass("date")) {
                    $inputField.find("input").first().val(value);
                } else if ($inputField.is("select")) {
                    $inputField.val($dataField.attr("data-selected"));
                } else {
                    $inputField.val(value);
                }

                //Show fields and hide labels with data values
                $dataField.hide();
                $inputField.show();
            });

            $btnContainer.show();
        });

        $saveDataBtn.on('click', function (e) {
            e.preventDefault();
            resetErrors("form-personnal-data-errors", "personnal-data-errors");

            var userId = "<%= user.id %>";
            var date = createDate($birthday.val()).getTime();

            $.ajax({
                url: "<%= link('/user/profile/') %>" + userId,
                data: {
                    firstname: $firstname.val(),
                    lastname: $lastname.val(),
                    gender: $gender.val(),
                    birthdate: date
                },
                type: 'PUT',
                success: function (result) {
                    $firstname.prev(".data-value").text($firstname.val());
                    $lastname.prev(".data-value").text($lastname.val());
                    $datepicker.prev(".data-value").text($birthday.val());

                    $gender.prev(".data-value").text($gender.find("option:selected").text());
                    $gender.prev(".data-value").attr("data-selected", $gender.val());

                    closeEditMode();
                },
                error: function (result) {
                    $.each(result.responseJSON.errors, function (index, error) {
                        $("#personnal-data-errors").append($('<p>').text(error.msg));
                    });
                    $("#form-personnal-data-errors").show("fast");
                    $('html, body').animate({
                        scrollTop: $("#personnal-data-errors").offset().top
                    }, 500);
                }
            });

        });

        $cancelBtn.on('click', function (e) {
            e.preventDefault();
            resetErrors("form-personnal-data-errors", "personnal-data-errors");
            closeEditMode();
        });

        $modifyPassBtn.on('click', function (e) {
            e.preventDefault();
            $formModifyPass.show();
            $modifyPassBtn.hide();
        });

        $savePasswordBtn.on('click', function (e) {
            e.preventDefault();

            resetErrors("form-security-errors", "security-errors");

            var userId = "<%= user.id %>";

            $.ajax({
                url: "<%= link('/user/') %>" + userId + "/password",
                data: {
                    previous_password: $previousPassword.val(),
                    password: $password.val(),
                    confirm_password: $confirmPassword.val()
                },
                type: 'POST',
                success: function (result) {
                    console.log("success", result);
                    $previousPassword.val("");
                    $password.val("");
                    $confirmPassword.val("");
                    $formModifyPass.hide();
                    $modifyPassBtn.show();
                },
                error: function (result) {
                    $.each(result.responseJSON.errors, function (index, error) {
                        $("#security-errors").append($('<p>').text(error.msg));
                    });
                    $("#form-security-errors").show("fast");
                    $('html, body').animate({
                        scrollTop: $("#security-errors").offset().top
                    }, 500);
                }
            });
        });

        $cancelPasswordBtn.on('click', function (e) {
            e.preventDefault();
            resetErrors("form-security-errors", "security-errors");
            $formModifyPass.hide();
            $modifyPassBtn.show();
        });

    })();
</script>