<%- include ../layout/header %>

<div id="profile">

    <div class="row">
        <div class="col-sm-12">
            <h1>
                <%= __('PROFILE_MAIN_TITLE') %>
            </h1>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-sm-3">
            <h4 class="hidden-xs"><%= __('PROFILE_PERSONAL_DATA_TITLE') %></h4>
            <h4 class="visible-xs-inline-block hidden-sm mobile-title"><%= __('PROFILE_PERSONAL_DATA_TITLE_MOBILE') %></h4>
            <button id="modify-data" type="button" class="btn btn-link"><%= __('PROFILE_EDIT_LINK') %></button>
            <hr class="visible-xs-block hidden-sm"/>
        </div>
        <div class="col-sm-9">

            <div id="form-personnal-data-errors" class="alert alert-danger alert-dismissible error-block"
                 role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <span class="title"><%= __('PROFILE_ERROR_MSG') %></span>
                <span id="personnal-data-errors" class="content"></span>
            </div>

            <div id="personnal-data">
                <form id="form-personnal-data">
                    <div class="panel <% if (!profile.firstname) { %> hidden <% } %>">
                        <h4>
                            <%= __('PROFILE_FIRST_NAME_LABEL') %>
                            <% if (config.userProfiles && config.userProfiles.requiredFields && config.userProfiles.requiredFields.indexOf('firstname') !== -1) { %>
                            <span class="text-danger required-asterisk">*</span>
                            <% } %>
                        </h4>
                        <% if (profile.firstname) { %>
                        <span class="data-value"><%= profile.firstname %></span>
                        <% } else { %>
                        <span class="data-value"></span>
                        <% } %>
                        <input id="firstname" name="firstname" class="form-control personnal-data-input"
                               placeholder="<%= __('PROFILE_PLACE_FIRSTNAME_HOLDER') %>"/>
                    </div>
                    <div class="panel <% if (!profile.lastname) { %> hidden <% } %>">
                        <h4>
                            <%= __('PROFILE_LAST_NAME_LABEL') %>
                            <% if (config.userProfiles && config.userProfiles.requiredFields && config.userProfiles.requiredFields.indexOf('lastname') !== -1) { %>
                            <span class="text-danger required-asterisk">*</span>
                            <% } %>
                        </h4>
                        <% if (profile.lastname) { %>
                        <span class="data-value"><%= profile.lastname %></span>
                        <% } else { %>
                        <span class="data-value"></span>
                        <% } %>
                        <input id="lastname" name="lastname" class="form-control personnal-data-input"
                               placeholder="<%= __('PROFILE_PLACE_LASTNAME_HOLDER') %>"/>
                    </div>
                    <div class="panel <% if (!profile.date_of_birth) { %> hidden <% } %>">
                        <h4>
                            <%= __('PROFILE_DATE_OF_BIRTH_LABEL') %>
                            <% if (config.userProfiles && config.userProfiles.requiredFields && config.userProfiles.requiredFields.indexOf('date_of_birth') !== -1) { %>
                            <span class="text-danger required-asterisk">*</span>
                            <% } %>
                        </h4>
                        <span class="data-value"></span>
                        <div class="input-group date personnal-data-input" data-provide="datepicker"
                             data-language="en">
                            <input id="birthday" name="birthday" class="form-control" type="text">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel <% if (!profile.gender) { %> hidden <% } %>">
                        <h4>
                            <%= __('PROFILE_SEX_LABEL') %>
                            <% if (config.userProfiles && config.userProfiles.requiredFields && config.userProfiles.requiredFields.indexOf('gender') !== -1) { %>
                            <span class="text-danger required-asterisk">*</span>
                            <% } %>
                        </h4>
                        <% if (profile.gender) { %>
                        <% if (profile.gender === "female") { %>
                        <span class="data-value"
                              data-selected="<%= profile.gender %>"><%= __('PROFILE_WOMAN_SEX_FORM_OPTION') %></span>
                        <% } else if (profile.gender === "male"){ %>
                        <span class="data-value"
                              data-selected="<%= profile.gender %>"><%= __('PROFILE_MAN_SEX_FORM_OPTION') %></span>
                        <% } else { %>
                        <span class="data-value"
                              data-selected="<%= profile.gender %>"><%= __('PROFILE_OTHER_SEX_FORM_OPTION') %></span>
                        <% } %>
                        <% } else { %>
                        <span class="data-value" data-selected="other"></span>
                        <% } %>
                        <select id="gender" name="gender" class="form-control personnal-data-input">
                            <option value="male"><%= __('PROFILE_MAN_SEX_FORM_OPTION') %></option>
                            <option value="female"><%= __('PROFILE_WOMAN_SEX_FORM_OPTION') %></option>
                            <option value="other"><%= __('PROFILE_OTHER_SEX_FORM_OPTION') %></option>
                        </select>
                    </div>
                    <div class="panel <% if (!profile.language) { %> hidden <% } %>">
                        <h4><%= __('PROFILE_LANGUAGE_LABEL') %></h4>
                        <% if (profile.language) { %>
                        <% if (profile.language === "fr") { %>
                        <span class="data-value"
                              data-selected="<%= profile.language %>"><%= __('PROFILE_LANGUAGE_FR_FORM_OPTION') %></span>
                        <% } else { if (profile.language === "de") { %>
                        <span class="data-value"
                              data-selected="<%= profile.language %>"><%= __('PROFILE_LANGUAGE_DE_FORM_OPTION') %></span>
                        <% } else { %>
                        <span class="data-value"
                              data-selected="<%= profile.language %>"><%= __('PROFILE_LANGUAGE_EN_FORM_OPTION') %></span>
                        <% } %>
                        <% } %>
                        <% } else { %>
                        <span class="data-value" data-selected="fr"></span>
                        <% } %>
                        <select id="language" name="language" class="form-control personnal-data-input">
                            <option value="en"><%= __('PROFILE_LANGUAGE_EN_FORM_OPTION') %></option>
                            <option value="fr"><%= __('PROFILE_LANGUAGE_FR_FORM_OPTION') %></option>
                            <option value="de"><%= __('PROFILE_LANGUAGE_DE_FORM_OPTION') %></option>
                        </select>
                    </div>

                    <div id="btn-container">
                        <button id="btn-save-data" type="submit"
                                class="btn btn-primary btn-large-submit"><%= __('PROFILE_SAVE_BUTTON') %></button>
                        <button id="btn-cancel-save" type="submit"
                                class="btn btn-link"><%= __('PROFILE_CANCEL_BUTTON') %></button>
                        <span class="pull-right text-danger">* <%= __('PROFILE_REQUIRED_FIELDS_CAPTION') %></span>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <hr class="hidden-xs"/>
    <div class="row">
        <div class="col-sm-3">
            <h4 class="hidden-xs"><%= __('PROFILE_SECURITY_TITLE') %></h4>
            <h4 class="visible-xs-inline-block hidden-sm mobile-title"><%= __('PROFILE_SECURITY_TITLE_MOBILE') %></h4>
            <hr class="visible-xs-block hidden-sm"/>
        </div>
        <div class="col-sm-9">


            <div class="panel <% if (!profile.email) { %> hidden <% } %>">
                <h4><%= __('PROFILE_EMAIL_LABEL') %></h4>
                <div id="form-change-email-success" class="alert alert-success alert-dismissible error-block" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <span id="change-email-success" class="content"><%= __('PROFILE_CHANGE_EMAIL_SUCCESS') %></span>
                </div>
                <% if (profile.email !== null ) { %>
                <span class="data-value"><%= profile.email %></span>
                <%if (!profile.hasSocialLogin) {%>
                <span class="data-value">
                        <button class="btn btn-link" type="button" data-toggle="modal" data-target="#changeEmailModal">
                            <i class='glyphicon glyphicon-pencil'></i>
                            <span class="button-label"><%= __('PROFILE_CHANGE_EMAIL_LINK') %></span>
                        </button>
                        </span>
                <% } %>
                <% } else { %>
                <span></span>
                <% } %>
                <% if (profile.email !== null) { %>
                <span class="personnal-data-input"><%= profile.email %></span>
                <% } %>
            </div>

            <div id="form-security-errors" class="alert alert-danger alert-dismissible error-block"
                 role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <span id="security-errors" class="content"></span>
            </div>

            <div id="form-security-success" class="alert alert-success alert-dismissible error-block" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <span id="security-success" class="content"><%= __('PROFILE_PASSWORD_CHANGE_SUCCESS') %></span>
            </div>

            <h4><%= __('PROFILE_PASSWORD_TITLE') %></h4>
            <button id="btn-modify-password" type="button" class="btn btn-link">
                <span id="hasPasswordButtonLabel" class="hasPassword">
                    <%= __('PROFILE_EDIT_YOUR_PASSWORD_LINK') %>
                </span>
                <span id="hasNoPasswordButtonLabel" class="hasNoPassword">
                    <%= __('PROFILE_CREATE_YOUR_PASSWORD_LINK') %>
                </span>
            </button>
            <form id="form-modify-pass">
                <div id="previousPasswordBlock" class="form-group">
                    <label for="old-password"><%= __('PROFILE_PREVIOUS_PASSWORD_LABEL') %></label>
                    <input type="password" class="form-control" id="previous-password"
                           placeholder="<%= __('PROFILE_PREVIOUS_PASSWORD_PLACEHOLDER') %>">
                </div>
                <div class="form-group">
                    <label for="new-password"><%= __('PROFILE_NEW_PASSWORD_LABEL') %></label>
                    <input type="password" class="form-control password-test" id="password"
                           placeholder="<%= __('PROFILE_NEW_PASSWORD_PLACEHOLDER') %>">
                    <p id="password-error-label" class="password-error error-message text-danger"></p>
                    <div id="password-bar">
                        <div id="password-progress"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm-password"><%= __('PROFILE_CONFIRM_PASSWORD_LABEL') %></label>
                    <input type="password" class="form-control" id="confirm-password"
                           placeholder="<%= __('PROFILE_CONFIRM_PASSWORD_PLACEHOLDER') %>">
                </div>
                <div>
                    <button id="btn-save-password" type="submit" class="btn btn-primary btn-large-submit">
                        <%= __('PROFILE_SAVE_PASSWORD_BUTTON') %>
                    </button>
                    <button id="btn-cancel-password"
                            class="btn btn-link"><%= __('PROFILE_CANCEL_PASSWORD_BUTTON') %></button>
                </div>
            </form>
        </div>

    </div>

    <% if (profile.facebook || profile.twitter || profile.google) { %>

    <hr/>

    <div class="row">

        <div class="col-sm-3">
            <h4 class="account-title">
                <%= __('PROFILE_ACCOUNT_LINKED_TITLE') %>
            </h4>
        </div>

        <div class="col-sm-9">
            <% if (profile.facebook) { %>
            <div class="providers-container first">
                <span class="facebook-text"><i class="fa fa-facebook-official" aria-hidden="true"></i></span>
                <span><%= __('PROFILE_ACCOUNT_LINKED_PROVIDER_FACEBOOK') %></span>
            </div>
            <% } %>
            <% if (profile.twitter) { %>
            <div class="providers-container first">
                <span class="twitter-text"><i class="fa fa-twitter-square" aria-hidden="true"></i></span>
                <span><%= __('PROFILE_ACCOUNT_LINKED_PROVIDER_TWITTER') %></span>
            </div>
            <% } %>
            <% if (profile.google) { %>
            <div class="providers-container first">
                <span class="google-text"><i class="fa fa-google-plus-square" aria-hidden="true"></i></span>
                <span><%= __('PROFILE_ACCOUNT_LINKED_PROVIDER_GOOGLEPLUS') %></span>
            </div>
            <% } %>
        </div>

    </div>

    <% } %>

    <hr/>

    <div class="row">

        <div class="col-sm-3">
            <h4 class="account-title">
                <%= __('PROFILE_ACCOUNT_TITLE') %>
                <% if (profile.verified) { %>
                <span class="glyphicon glyphicon-info-sign status-info" data-toggle="tooltip" data-placement="right"
                      title="<%= __('PROFILE_VERIFIED_MORE_INFO') %>"></span>
                <% } else { %>
                <span class="glyphicon glyphicon-info-sign status-info" data-toggle="tooltip" data-placement="right"
                      title="<%= __('PROFILE_NOT_VERIFIED_MORE_INFO') %>"></span>
                <% } %>
            </h4>

            <% if (profile.verified) { %>
            <span class="text-success status">
                <span class="glyphicon glyphicon-ok"></span>
                <%= __('PROFILE_VERIFIED_LABEL') %>
            </span>
            <% } else { %>
            <span class="text-danger status">
                <span class="glyphicon glyphicon-remove"></span> <%= __('PROFILE_NOT_VERIFIED_LABEL') %>
            </span>
            <% } %>

            <hr class="visible-xs-block hidden-sm"/>
        </div>

        <% if (!profile.verified) { %>
        <div class="col-sm-9">
            <div class="verification-link-container">
                <p><%= __('PROFILE_FILL_VERIFICATION_LABEL') %></p>
                <form id="verification-link-form"
                      action='<%= link('/user/profile/request_verification_email') %>'
                      method="post">
                    <div class="form-group">
                        <div class="recaptcha-wrapper">
                            <%- captcha %>
                            <div class="rc-anchor-checkbox-label"><%= __('SIGNUP_RECAPTCHA_NOT_A_ROBOT') %></div>
                            <div class="recaptcha-info"></div>
                            <div class="rc-anchor-logo-text">reCAPTCHA</div>
                            <div class="rc-anchor-pt">
                                <a href="https://www.google.com/intl/en/policies/privacy/"
                                   target="_blank"><%= __('SIGNUP_RECAPTCHA_PRIVACY') %></a>
                                <span aria-hidden="true" role="presentation"> - </span>
                                <a href="https://www.google.com/intl/en/policies/terms/"
                                   target="_blank"><%= __('SIGNUP_RECAPTCHA_TERMS') %></a>
                            </div>
                        </div>
                    </div>
                    <button id="btn-send-verification-link" type="submit" class="btn btn-primary btn-large-submit"><span
                                class="button-label"><%= __('PROFILE_RESEND_VALIDATION_EMAIL_LINK') %></span>
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </button>
                    <span id="verification-success" class="text-success"><span
                                class="glyphicon glyphicon-ok"></span> <span class="text"></span> </span>
                    <span id="verification-error" class="text-danger"><span
                                class="glyphicon glyphicon-remove"></span> <span class="text"></span></span>
                </form>
            </div>
        </div>
        <% } %>

        <div class="col-sm-9 <% if (!profile.verified) { %> col-sm-offset-3 <% } %>">
            <div class="delete-container">

                <span id="delete-error" class="text-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                    <span class="text"></span>
                </span>

                <p><%= __('PROFILE_DELETE_YOUR_ACCOUNT_LABEL') %></p>
                <button class="btn btn-primary btn-large-submit" data-toggle="modal" data-target="#deleteUserModal">
                    <span class="button-label"><%= __('PROFILE_DELETE_YOUR_ACCOUNT_LINK') %></span>
                </button>

            </div>
        </div>

    </div>

</div>

<!-- Add client Modal -->
<% include ./modales/email-change.ejs %>
<% include ./modales/user-delete.ejs %>
<% include ../util/password-support %>

<script type="text/javascript">
    (function () {

        // VARIABLES AND INITIALIZATION
        var $modifyDataBtn = $('#modify-data');
        var $saveDataBtn = $('#btn-save-data');
        var $cancelBtn = $('#btn-cancel-save');
        var $savePasswordBtn = $('#btn-save-password');
        var $cancelPasswordBtn = $('#btn-cancel-password');
        var $modifyPassBtn = $('#btn-modify-password');
        var $formModifyPass = $('#form-modify-pass');
        var $btnContainer = $('#btn-container');
        var $btnVerificationLink = $('#btn-send-verification-link');
        var $btnDeleteAccount = $('#delete-user');
        var $deleteUserModal = $('#deleteUserModal');
        var $formPersonalData = $('#form-personnal-data');

        var $firstname = $("#firstname");
        var $lastname = $("#lastname");
        var $gender = $("#gender");
        var $language = $("#language");
        var $previousPassword = $("#previous-password");
        var $password = $("#password");
        var $confirmPassword = $("#confirm-password");
        var $birthday = $("#birthday");
        var $inputs = $('.personnal-data-input');
        var $datepicker = $(".input-group.date");
        var $elementsWithPassword = $(".hasPassword");
        var $elementsWithoutPassword = $(".hasNoPassword");
        var $previousPasswordBlock = $("#previousPasswordBlock");
        var $passwordStrengthProgress = $("#password-progress");
        var hasPassword = '<%= profile.hasPassword %>';
        var date = "";

        if (hasPassword !== "true") {
            $elementsWithPassword.hide();
            $elementsWithoutPassword.show();
            $previousPasswordBlock.hide();
        }

        //Little css trick so that date input render correctly but does not appear quickly at loading
        $inputs.hide();
        $inputs.css('visibility', 'visible');

        //Initialize all tootips
        $('[data-toggle="tooltip"]').tooltip();

        // LOCAL FUNCTIONS
        var closeEditMode = function () {
            $("#personnal-data .panel").each(function (index, element) {
                var $element = $(element);
                var $dataField = $element.find(".data-value").first();
                var $inputField = $element.find('.personnal-data-input').first();
                var $asterisks = $element.find('.required-asterisk').first();

                if (!$dataField.text()) {
                    $element.addClass('hidden');
                }

                //Show labels and hide fields
                $asterisks.hide();
                $inputField.hide();
                $btnContainer.hide();
                $dataField.show();
                $modifyDataBtn.show();
            });
        };

        var formatDate = function (date) {
            var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var year = date.getFullYear();
            return day + "/" + month + "/" + year;
        };

        var createDate = function (sDate) {
            var date = sDate.substr(6, 4) + "/" + sDate.substr(3, 2) + "/" + sDate.substr(0, 2);
            return new Date(date);
        };

        var resetMessages = function (formClass, errorsClass) {
            $("#" + formClass).hide("fast");
            $("#" + errorsClass).empty();
        };

        //Init date field and datepicker
        if ("<%= profile.date_of_birth %>" && "<%= profile.date_of_birth %>" != "null" && "<%= profile.date_of_birth %>" !== null && "<%= profile.date_of_birth %>" != "undefined") {
            date = new Date(parseInt("<%= profile.date_of_birth %>"));
            $datepicker.prev(".data-value").text(formatDate(date));
        }

        var locale = '<%= language %>';

        $datepicker.datepicker({
            format: 'dd/mm/yyyy',
            language: locale,
            endDate: "0d"
        });

        // EVENTS
        $modifyDataBtn.on('click', function (e) {
            e.preventDefault();

            var $this = $(this);
            //Hide Modify button
            $this.hide();

            $("#personnal-data .panel").each(function (index, element) {
                var $element = $(element);
                var $dataField = $element.find(".data-value").first();
                var value = String($dataField.text());
                var $inputField = $element.find('.personnal-data-input').first();
                var $asterisks = $element.find('.required-asterisk').first();

                $element.removeClass('hidden');

                //If it is date field, update it correctly
                if ($inputField.hasClass("date")) {
                    $inputField.find("input").first().val(value);
                } else if ($inputField.is("select")) {
                    $inputField.val($dataField.attr("data-selected"));
                } else {
                    $inputField.val(value);
                }

                //Show fields and hide labels with data values
                $dataField.hide();
                $asterisks.css('display', 'inline-block');
                $inputField.show();
            });

            $btnContainer.show();
        });

        $('#verification-link-form').submit(function (e) {
            e.preventDefault();
            var $label = $btnVerificationLink.find(".button-label").first();
            var $spinner = $btnVerificationLink.find(".spinner").first();
            var $verifSuccess = $("#verification-success");
            var $verifError = $("#verification-error");

            $verifError.hide();
            $label.hide();
            $spinner.show();

            $(this).ajaxSubmit({
                error: function (result) {
                    $spinner.hide();
                    $label.show();
                    if (!result.responseJSON.msg)
                        $verifError.find(".text").first().text("<%= __('PROFILE_JS_ERROR_RESEND_VALIDATION') %>");
                    else
                        $verifError.find(".text").first().text(result.responseJSON.msg);

                    $verifError.show();
                },
                success: function (response) {
                    $btnVerificationLink.remove();
                    $verifSuccess.find(".text").first().text("<%= __('PROFILE_JS_SUCCESS_RESEND_VALIDATION') %>");
                    $verifSuccess.show();
                }
            });
        });

        $('#changeEmailModal').on('show.bs.modal', function () {
            this.classList.remove('fade');
            $("#change-email-password").val('');
        });

        $deleteUserModal.on('show.bs.modal', function () {
            $deleteUserModal.removeClass('fade');
        })

        $('#user-pass').keypress(function (event) {
            //On pressing enter key
            if (event.which === 13) {
                //Do not close the popup
                event.preventDefault();
                //But call delete account function
                $('#delete-user').click();
                return false;
            }
        });

        $('button#change-email').on('click', function (e) {
            e.preventDefault();
            var $btn = $(e.target);
            var label = $btn.find('.button-label').first();
            var spinner = $btn.find(".spinner").first();
            var $changeEmailError = $("#change-email-error");
            var $changeEmailNew = $("#change-email-new");
            var $changeEmailPassword = $("#change-email-password");
            var $changeEmailForm = $("#changeEmailForm");
            var $formChangeEmailSuccess = $('#form-change-email-success');
            $formChangeEmailSuccess.hide();

            spinner.show();
            label.hide();

            $changeEmailError.hide();
            $changeEmailError.html("");
            $changeEmailForm.first('div.form-group').removeClass('has-error');

            if (!$changeEmailNew.val()) {
                $changeEmailError.html("<%= __('PROFILE_CHANGE_EMAIL_NO_EMAIL') %>");
                $changeEmailForm.first('div.form-group').addClass('has-error');
                $changeEmailError.show();
                spinner.hide();
                label.show();
                return;
            }

            $.ajax(
                {
                    url: '/email/change',
                    type: 'POST',
                    data: {
                        new_email: $changeEmailNew.val(),
                        password: $changeEmailPassword.val(),
                    },
                    success: function(result) {
                        $("#changeEmailModal").modal('toggle');
                        $changeEmailPassword.val('');
                        spinner.hide();
                        label.show();
                        $formChangeEmailSuccess.show();
                    },
                    error: function(error) {
                        $changeEmailPassword.val('');
                        if (error.responseJSON && error.responseJSON.msg) {
                            $changeEmailError.html(error.responseJSON.msg);
                            $changeEmailForm.first('div.form-group').addClass('has-error');
                            $changeEmailError.show();
                            spinner.hide()
                            label.show();
                        } else {
                            $changeEmailError.html("<%= __('PROFILE_CHANGE_EMAIL_ERROR') %>");
                            $changeEmailForm.first('div.form-group').addClass('has-error');
                            $changeEmailError.show();
                            spinner.hide();
                            label.show();
                        }
                    }
                }
            )
        });

        $btnDeleteAccount.on('click', function (e) {
            e.preventDefault();
            var $label = $btnDeleteAccount.find(".button-label").first();
            var $spinner = $btnDeleteAccount.find(".spinner").first();
            var $deleteError = $("#delete-error");
            var $password = $('#user-pass');
            var $deleteUserForm = $("#deleteUserForm");
            var isFacebookAccount = '<%= profile.facebook %>';
            var isGoogleAccount = '<%= profile.google %>';
            var $passwordError = $('#password-error');

            $deleteError.hide();
            $label.hide();
            $spinner.show();
            $deleteUserForm.first('div.form-group').removeClass('has-error');
            $passwordError.hide();
            $passwordError.html("");

            if (!$password.val() && isFacebookAccount !== "true" && isGoogleAccount !== "true") {
                $passwordError.html("<%= __('PROFILE_API_DELETE_YOUR_ACCOUNT_MISSING_PASSWORD') %>");
                $deleteUserForm.first('div.form-group').addClass('has-error');
                $spinner.hide()
                $label.show();
                $passwordError.show();
                return;
            }

            $.ajax({
                url: "<%= link('/user') %>",
                type: 'POST',
                data: {
                    password: $password.val()
                },
                success: function (result) {
                    //set success message in storage to get it back on login page and LOGOUT
                    if (typeof localStorage !== 'undefined') {
                        localStorage.setItem('loginMessage', "<%= __('PROFILE_JS_SUCCESS_DELETE_ACCOUNT') %>");
                    }
                    window.location = "<%= link('/logout') %>";
                },
                error: function (error) {
                    if (error.responseJSON.msg) {
                        $passwordError.html(error.responseJSON.msg);
                        $deleteUserForm.first('div.form-group').addClass('has-error');
                        $spinner.hide()
                        $label.show();
                        $passwordError.show();
                    } else {
                        $deleteUserModal.modal('toggle');
                        $deleteError.find(".text").first().text("<%= __('PROFILE_JS_ERROR_DELETE_ACCOUNT') %>");
                        $spinner.hide();
                        $label.show();
                        $deleteError.show();
                    }
                }
            });
        });

        $saveDataBtn.on('click', function (e) {
            e.preventDefault();
            resetMessages("form-personnal-data-errors", "personnal-data-errors");

            var userId = "<%= user.id %>";
            var date_of_birth = $birthday.val();
            var date = date_of_birth ? createDate(date_of_birth).getTime() : '';

            $.ajax({
                url: "<%= link('/user/profile/') %>",
                data: {
                    firstname: $firstname.val(),
                    lastname: $lastname.val(),
                    gender: $gender.val(),
                    language: $language.val(),
                    date_of_birth: date
                },
                type: 'PUT',
                success: function (result) {
                    $firstname.prev(".data-value").text($firstname.val());
                    $lastname.prev(".data-value").text($lastname.val());
                    $datepicker.prev(".data-value").text($birthday.val());

                    $gender.prev(".data-value").text($gender.find("option:selected").text());
                    $gender.prev(".data-value").attr("data-selected", $gender.val());

                    $language.prev(".data-value").text($language.find("option:selected").text());
                    $language.prev(".data-value").attr("data-selected", $language.val());

                    closeEditMode();
                    // Reload in case the user has changed the local
                    location.reload();
                },
                error: function (result) {
                    $.each(result.responseJSON.errors, function (index, error) {
                        $("#personnal-data-errors").append($('<p>').text(error.msg));
                    });
                    $("#form-personnal-data-errors").show("fast");
                    $('html, body').animate({
                        scrollTop: $("#personnal-data-errors").offset().top
                    }, 500);
                }
            });

        });

        $cancelBtn.on('click', function (e) {
            e.preventDefault();
            resetMessages("form-personnal-data-errors", "personnal-data-errors");
            closeEditMode();
        });

        $modifyPassBtn.on('click', function (e) {
            e.preventDefault();
            $formModifyPass.show();
            $modifyPassBtn.hide();
        });

        $savePasswordBtn.on('click', function (e) {
            e.preventDefault();

            resetMessages("form-security-errors", "security-errors");
            $("#form-security-success").hide();

            var userId = "<%= user.id %>";
            var url = "<%= link('/user/') %>" + userId + "/password";
            var data = {
                password: $password.val(),
                confirm_password: $confirmPassword.val()
            }
            if (hasPassword !== "true") {
                url = "<%= link('/user/') %>" + userId + "/password/create";
            } else {
                data["previous_password"] = $previousPassword.val();
            }

            $.ajax({
                url: url,
                data: data,
                type: 'POST',
                success: function (result) {
                    $elementsWithPassword.show();
                    $elementsWithoutPassword.hide();
                    $previousPasswordBlock.show();
                    hasPassword = "true";
                    $("#form-security-success").show('fast');
                    $previousPassword.val("");
                    $passwordStrengthProgress.width(0);
                    $password.val("");
                    $confirmPassword.val("");
                    $formModifyPass.hide();
                    $modifyPassBtn.show();
                    $('html, body').animate({
                        scrollTop: $("#security-success").offset().top
                    }, 500);
                },
                error: function (result) {
                    $.each(result.responseJSON.errors, function (index, error) {
                        $("#security-errors").append($('<p>').html(error.msg));
                    });
                    $("#form-security-errors").show("fast");
                    $('html, body').animate({
                        scrollTop: $("#security-errors").offset().top
                    }, 500);
                }
            });
        });

        $cancelPasswordBtn.on('click', function (e) {
            e.preventDefault();
            resetMessages("form-security-errors", "security-errors");
            $formModifyPass.hide();
            $modifyPassBtn.show();
        });
    })();
</script>

<%- include ../layout/foot %>
