<!-- views/layout/default/nav.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<% if (user) { %> <%= link('/home') %> <% } else { %> <%= link('/auth') %> <% } %>">Cross Platform Authentication<span class="hidden-xs">: Authorization Provider</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <% if (user) { %>
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="<%= link('/verify') %>"><i class='glyphicon glyphicon-plus'></i> Associate a device</a></li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='glyphicon glyphicon-user'></i>
                        <% if (user.display_name) { %>
                        <%= user.display_name %>
                        <% } else { %>
                        <%= user.email %>
                        <% } %>
                        <b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <li><a href="<%= link('/user/devices') %>"><%= __('LAYOUT_HEAD_NAV_MY_DEVICES')%></a></li>
                        <li><a href="<%= link('/user/profile') %>"><%= __('LAYOUT_HEAD_NAV_EDIT_PROFILE') %></a></li>
                        <% if (userCan(permissionName.ADMIN_PERMISSION)) { %>
                        <li><a href="<%= link('/admin') %>"><%= __('LAYOUT_HEAD_NAV_ADMIN') %></a></li>
                        <% } %>
                        <li><a href="<%= link('/logout') %>"><%= __('LAYOUT_HEAD_NAV_LOGOUT') %></a></li>
                    </ul>
                </li>
            </ul>
            <% } %>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown selectable lang">

                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <%if (language === 'en'){%>EN<%}%>
                        <%if (language === 'de'){%>DE<%}%>
                        <%if (language === 'fr'){%>FR<%}%>
                        <span class="caret"></span></a>

                    <ul class="dropdown-menu dropdown-menu-lang">
                        <li>
                            <a href="#">EN</a>
                        </li>
                        <li>
                            <a href="#">FR</a>
                        </li>
                        <li>
                            <a href="#">DE</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>