<div class="col-xs-12">

    <div id="rts-login-panel">
        <h1 class="title text-center">
            <%= __('LOGIN_TITLE') %>
        </h1>

        <div class="alert alert-danger alert-message-error" role="alert"></div>
        <div class="alert alert-success alert-message-success"role="alert"></div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">

                <!-- LOGIN FORM -->
                <form id="rts-login-form" class="connect-forms" action="<%= link('/api/local/authenticate') %>" method="post">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email"
                               placeholder="<%= __('LOGIN_EMAIL_LABEL') %>">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password"
                               placeholder="<%= __('LOGIN_PASSWORD_LABEL') %>">
                        <div class="password-recovery-block">
                            <a id="password-recovery"
                               class="btn-link to-password-link"
                               href="javascript:void(0);"><%= __('LOGIN_FORGOT_PASSWORD_LINK') %></a>
                        </div>
                    </div>

                    <button type="submit"
                            class="btn btn-primary btn-block btn-large-submit"><%= __('LOGIN_LOGIN_BUTTON') %></button>
                </form>

                <p class="link-login to-signup-link"><%= __('LOGIN_NEED_AN_ACCOUNT_LINK') %> <a
                            class="btn-link" href="javascript:void(0);"><%= __('LOGIN_SIGNUP_LINK') %></a>
                </p>

                <% if(config.identity_providers.facebook.enabled || config.identity_providers.google.enabled || config.identity_providers.twitter.enabled) { %>

                <div class="row social">
                    <div class="col-xs-12">
                        <% if(config.identity_providers.facebook.enabled) { %>
                        <a href="<%= link('/auth/facebook') %>"
                           class="identity_provider facebook">
                            <img class="login-images" src="<%= link('/assets/img/logoroundfacebook.svg') %>"/>
                            <p class="login-social-labels">
                                <%= __('LOGIN_FACEBOOK_BUTTON') %>
                            </p>
                        </a>
                        <% } %>
                        <% if(config.identity_providers.google.enabled) { %>
                            <a href="<%= link('/auth/google') %>"
                               class="identity_provider googleplus">
                                <img class="login-images" src="<%= link('/assets/img/logo_google.svg')%>"/>
                                <p class="login-social-labels">
                                    <%= __('LOGIN_GOOGLE_PLUS_BUTTON') %>
                                </p>
                            </a>
                        <% } %>
                    </div>
                </div>
                <% } %>

            </div>
        </div>

    </div>

</div>