<!DOCTYPE html>
<html>
<head>
    <%- include ../../layout/default/head %>
</head>
<body>

<main>

    <div class="container">

        <div id="rts-oauth-dialog">

            <div class="alert alert-danger alert-message-error" role="alert"></div>

            <h1><%= __('OAUTH_DIALOG_TITLE_HI') %> <%= user.display_name || email %></h1>
            <p>
                <% if(customMessage){ %>
                <%= customMessage %>
                <% } else { %>
                <b><%= client.name %></b>
                <%= __('OAUTH_DIALOG_TITLE') %>
                <% } %>
            </p>

            <form action="<%= link('/oauth2/dialog/authorize/decision') %>" method="post">
                <input name="transaction_id" type="hidden" value="<%= transactionID %>">
                <div>
                    <input id="allow" class="btn btn-primary" type="submit" value="<%= __('OAUTH_DIALOG_ALLOW') %>">
                    <div class="block-link">
                        <input id="deny" class="link link-cancel" name="cancel"
                               value="<%= __('OAUTH_DIALOG_DENY') %>" type="submit"/>
                    </div>
                </div>
            </form>

            <span class="disconnect-block">
                <span>
                    <%= __('OAUTH_DIALOG_TEXT_LOGOUT') %>
                </span>
                <a id="disconnect" href="javascript:void(0);">
                    <%= __('OAUTH_DIALOG_LOGOUT') %>
                </a>
            </span>

        </div>

    </div>

</main>

<script type="text/javascript">
    (function() {
        var $disconnectLink = $('#disconnect');
        var $alertsError = $('.alert-message-error');

        if($disconnectLink) {
            $disconnectLink.on('click', function() {
                $.ajax({
                    type        : 'GET',
                    url         : '<%= link('/logout') %>',
                    success: function () {
                        location.reload(true);
                    },
                    error: function () {
                        $alertsError.append($('<p>').text("Un problème s'est produit lors de votre déconnexion"));
                        $alertsError.show();
                    }
                })
            });
        }
    })();
</script>

</body>

</html>