<div class="col-xs-12">

    <div id="rts-password-panel">
        <h1 class="title text-center">
            <%= __('PASSWORD_RECOVERY_TITLE') %>
        </h1>

        <div class="alert alert-danger alert-message-error" role="alert"></div>
        <div class="alert alert-success alert-message-success"role="alert"></div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">

                <form class="connect-forms" id="rts-password-form" action="<%= link('/password/code') %>"
                      method="post">
                    <div id="password-block" class="signup-fields">
                        <div class="form-group">
                            <input type="email" class="form-control" name="email"
                                   placeholder="<%= __('PASSWORD_RECOVERY_EMAIL_LABEL') %>">
                        </div>
                    </div>

                    <button id="submit-password" type="submit"
                            class="btn btn-primary btn-block btn-large-submit"><%= __('PASSWORD_RECOVERY_RESET_PASSWORD_BUTTON') %></button>

                </form>
                <a class="btn-link link-login to-login-link" href="javascript:void(0);">
                    <%= __('PASSWORD_RECOVERY_BACK_TO_LOGIN_LINK') %>
                </a>
            </div>
        </div>

    </div>

</div>