<div class="col-xs-12">

    <div id="rts-password-panel">
        <h1 class="title text-center">
            <%= __('PASSWORD_RECOVERY_TITLE') %>
        </h1>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">

                <div id="verification-error" class="alert alert-danger error-message" role="alert"></div>
                <div id="verification-success" class="alert alert-success alert-success-custom error-message"
                     role="alert"><span
                            class="glyphicon glyphicon-ok"></span> <span class="text"></span></div>

                <!-- LOGIN FORM -->
                <form class="connect-forms" id="password-form" action="<%= link('/password/code') %>"
                      method="post">
                    <div class="signup-fields">
                        <div class="form-group">
                            <input type="email" class="form-control" name="email"
                                   placeholder="<%= __('PASSWORD_RECOVERY_EMAIL_LABEL') %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <% if(config.limiter.type === 'recaptcha' || config.limit.type === 'recaptcha-optional') { %>
                        <div class="recaptcha-wrapper">
                            <%- captcha %>
                            <div class="rc-anchor-checkbox-label"><%= __('SIGNUP_RECAPTCHA_NOT_A_ROBOT') %></div>
                            <div class="recaptcha-info"></div>
                            <div class="rc-anchor-logo-text">reCAPTCHA</div>
                            <div class="rc-anchor-pt">
                                <a href="https://www.google.com/intl/en/policies/privacy/"
                                   target="_blank"><%= __('SIGNUP_RECAPTCHA_PRIVACY') %></a>
                                <span aria-hidden="true" role="presentation"> - </span>
                                <a href="https://www.google.com/intl/en/policies/terms/"
                                   target="_blank"><%= __('SIGNUP_RECAPTCHA_TERMS') %></a>
                            </div>
                        </div>
                        <%}%>
                    </div>

                    <button id="submit-password" type="submit"
                            class="btn btn-primary btn-block btn-large-submit"><%= __('PASSWORD_RECOVERY_RESET_PASSWORD_BUTTON') %></button>

                </form>
                <a class="btn-link link-login to-login-link" href="javascript:void(0);">
                    <%= __('PASSWORD_RECOVERY_BACK_TO_LOGIN_LINK') %>
                </a>
            </div>
        </div>

    </div>

</div>