<div class="modal fade" id="updateClientModal" tabindex="-1" role="dialog">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"
                    id="updateClientModalTitle"><%= __('ADMIN_CLIENT_UPDATE_CLIENT_MODALE_TITLE') %></h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger alert-dismissible error-message" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <span class="message"></span>
                </div>

                <form id="addClientForm">
                    <div class="form-group">
                        <label for="name"><%= __('ADMIN_CLIENT_ADD_CLIENT_MODALE_FORM_NAME') %></label>
                        <input type="text" class="form-control" id="update-name"
                               placeholder="<%= __('ADMIN_CLIENT_ADD_CLIENT_MODALE_FORM_NAME') %>">
                    </div>
                    <div class="form-group">
                        <label for="clientID"><%= __('ADMIN_CLIENT_ADD_CLIENT_MODALE_FORM_ID') %></label>
                        <input type="text" class="form-control" id="update-clientID"
                               placeholder="<%= __('ADMIN_CLIENT_ADD_CLIENT_MODALE_FORM_ID') %>" disabled="disabled">
                    </div>
                    <div class="form-group">
                        <label for="jwtCode"><%= __('ADMIN_CLIENT_ADD_CLIENT_MODALE_FORM_JWT_CODE') %></label>
                        <input type="text" class="form-control" id="update-jwtCode"
                               placeholder="<%= __('ADMIN_CLIENT_ADD_CLIENT_MODALE_FORM_JWT_CODE') %>">
                    </div>
                    <div class="form-group">
                        <label for="redirectURI"><%= __('ADMIN_CLIENT_ADD_CLIENT_MODALE_FORM_REDIRECT_URI') %></label>
                        <input type="text" class="form-control" id="update-redirectURI"
                               placeholder="<%= __('ADMIN_CLIENT_ADD_CLIENT_MODALE_FORM_REDIRECT_URI') %>">
                    </div>
                    <div class="form-group">
                        <label for="emailRedirectURI"><%= __('ADMIN_CLIENT_ADD_CLIENT_MODALE_FORM_EMAIL_REDIRECT_URI') %></label>
                        <input type="text" class="form-control" id="update-emailRedirectURI"
                               placeholder="<%= __('ADMIN_CLIENT_ADD_CLIENT_MODALE_FORM_EMAIL_REDIRECT_URI') %>">
                        <div class="form-group">
                            <label for="template"><%= __('ADMIN_CLIENT_ADD_CLIENT_MODALE_FORM_TEMPLATE') %></label>
                            <input type="text" class="form-control" id="update-template"
                                   placeholder="<%= __('ADMIN_CLIENT_ADD_CLIENT_MODALE_FORM_TEMPLATE') %>">
                    </div>
                    <input id="update-id" type="text" class="hidden">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal"><%= __('ADMIN_CLIENT_ADD_CLIENT_MODALE_CLOSE') %></button>
                <button id="update-client" type="button"
                        class="btn btn-primary"><%= __('ADMIN_CLIENT_UPDATE_CLIENT_MODALE_SUBMIT') %></button>
            </div>
        </div>
    </div>
</div>