<!DOCTYPE html>
<html>
<head>
    <title>Demo OAuth2 Client: Resource Owner Password</title>
    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#eee;">


<a href="/">&lt;&lt; flow selection</a>
<div class="container">
    <h1>OAuth 2 Client: Resource Owner Password</h1>

    <div id="login-area" class="hide">
        <form onsubmit="javascript:connectRop()">
            <div><label>Resource Owner: <input class="input-lg" id="login-username"></label></div>
            <div><label>Password: <input class="input-lg" type="password" id="login-password"></label></div>
            <input value="Login with Resource Owner Password" type="submit" id="login-btn" class="btn btn-info hide">
            <!--<a href="javascript:connectRop()" class="btn btn-info hide" id="login-btn">Login with Resource Owner-->
            <!--Password</a>-->
        </form>

        <div id="error-message" class="text-warning"></div>
    </div>
    <a href="#logout" class="btn btn-warning hide" id="logout-btn">Logout Resource Owner</a>

    <div id="user-widget" style="margin: 20px 0 5px;"></div>

    <div id="refresh-area">
        <div id="rop-access-info"></div>
        <a href="javascript:useRefreshToken()" class="btn btn-info hide" id="rop-refresh-btn">Use Refresh Token</a>
    </div>
</div>

<script>

	var useRefreshToken = function () {
	};
	var connectRop = function () {
	};

	(function () {
		// fail if local storage isn't available
		if (typeof(Storage) === 'undefined') {
			throw 'NotImplementedError';
		}

		$(function () {
			loadProfile(
				function (user) {
					if (user) {
						loadInterface(user);
					}
					else {
						$('#login-btn').removeClass('hide');
						$('#login-area').removeClass('hide');
					}
					if (getRefreshToken()) {
						$('#rop-refresh-btn').removeClass('hide');
					}
				}
			);
		});

		function loadInterface(user) {
			$('#user-widget').html('You are logged in as: ' + user.name);
			$('#logout-btn').removeClass('hide').click(function () {
				removeToken();
				location.reload();
			});
			$('#rop-access-info').html('Expires at ' + getExpirationDate());
		}

		function callServer(token, done) {
			jQuery.ajax(
				{
					url: "<%= profileUrl %>",
					type: "GET",
					headers: {
						"Authorization": "Bearer " + token,
						"Content-Type": "application/x-www-form-urlencoded"
					}
				}
			).done(
				function (data, textStatus, jqXHR) {
					console.log("HTTP Request Succeeded: " + jqXHR.status);
					console.log(data);
					return done(data.user);

				}
			).fail(
				function (jqXHR, textStatus, errorThrown) {
					console.log("HTTP Request Failed");
					return done();
				}
			);
		}

		function loadProfile(done) {
			var token = getToken();

			if (token) {
				return callServer(token, done);
			} else {
				return done();
			}
		}

		connectRop = function () {
			var resourceOwner = $('#login-username').val();
			var password = $('#login-password').val();

			var data = {
				grant_type: 'password',
				username: resourceOwner,
				password: password,
				client_id: "db05acb0c6ed902e5a5b7f5ab79e7144",
				client_secret: "49b7448061fed2319168eb2449ef3b58226a9c554b3ff0b138abe8ffad98"
			};
			jQuery.ajax(
				{
					url: "<%= ropUrl %>",
					type: "POST",
					data: data,
					headers: {'Content-Type': 'application/x-www-form-urlencoded'},
				}
			).done(
				function (data, textStatus, jqXhr) {
					storeToken(data.access_token, data.refresh_token, data.expires_in);
					location.reload();
				}
			).fail(
				function (jqXhr, textStatus, errorThrown) {
					console.log(errorThrown);
					$('#error-message').html(jqXhr.responseText);
				}
			);
		}

		useRefreshToken = function () {
			var refreshToken = getRefreshToken();

			var data = {
				grant_type: 'refresh_token',
				refresh_token: refreshToken,
				client_id: '<%- client_id %>',
				client_secret: '<%- client_secret %>'
			};

			jQuery.ajax(
				{
					url: "<%= ropUrl %>",
					type: "POST",
					data: data,
					headers: {'Content-Type': 'application/x-www-form-urlencoded'},
				}
			).done(
				function (data, textStatus, jqXhr) {
					storeToken(data.access_token, data.refresh_token, data.expires_in);
					location.reload();
				}
			).fail(
				function (jqXhr, textStatus, errorThrown) {
					console.log(errorThrown);
					$('#error-message').html(jqXhr.responseText);
				}
			);
		}

		function storeToken(token, refreshToken, expires) {
			localStorage.setItem("cpa:rop-token", token);
			localStorage.setItem("cpa:rop-refresh-token", refreshToken);
			localStorage.setItem("cpa:rop-expires-at", Date.now() + expires * 1000);
		}

		function removeToken() {
			localStorage.removeItem("cpa:rop-refresh-token");
			localStorage.removeItem("cpa:rop-expires-at");
			return localStorage.removeItem("cpa:rop-token");
		}

		function getToken() {
			return localStorage.getItem("cpa:rop-token");
		}

		function getRefreshToken() {
			return localStorage.getItem("cpa:rop-refresh-token");
		}

		function getExpirationDate() {
			return new Date(new Date().setTime(localStorage.getItem("cpa:rop-expires-at")));
		}
	})();


</script>

</body>
</html>
