<% include layout/head %>

<h1>IDP - OAuth2 Clients</h1>

<div id="login-area" class="hide">
    <div><label>Resource Owner: <input class="input-lg" id="login-username"></label></div>
    <div><label>Password: <input class="input-lg" type="password" id="login-password"></label></div>
    <a href="javascript:connectRop()" class="btn btn-info hide" id="login-btn">Login with Resource Owner Password</a>
</div>
<a href="#logout" class="btn btn-warning hide" id="logout-btn">Logout Resource Owner</a>

<span id="user-widget"></span>

<div id="refresh-area">
    <div id="rop-access-info"></div>
    <a href="javascript:useRefreshToken()" class="btn btn-info hide" id="rop-refresh-btn">Use Refresh Token</a>
</div>

<script>

    var storeToken = function (token, refreshToken, expires) {
        if (typeof(Storage) !== "undefined") {
            localStorage.setItem("cpa:rop-token", token);
            localStorage.setItem("cpa:rop-refresh-token", refreshToken);
            localStorage.setItem("cpa:rop-expires-at", Date.now() + expires * 1000);
        } else {
            // Cookie
            throw "NotImplementedError"
        }
    };

    var getToken = function () {
        if (typeof(Storage) !== "undefined") {
            return localStorage.getItem("cpa:rop-token");
        } else {
            // Cookie
            throw "NotImplementedError"
        }
    };

    var getRefreshToken = function () {
        if (typeof(Storage) !== "undefined") {
            return localStorage.getItem("cpa:rop-refresh-token");
        } else {
            throw "NotImplementedError";
        }
    };

    var getExpirationDate = function () {
        if (typeof(Storage) !== "undefined") {
            return new Date(new Date().setTime(localStorage.getItem("cpa:rop-expires-at")));
        } else {
            throw "NotImplementedError";
        }
    };

    var removeToken = function (token) {
        if (typeof(Storage) !== "undefined") {
            localStorage.removeItem("cpa:rop-refresh-token");
            localStorage.removeItem("cpa:rop-expires-at");
            return localStorage.removeItem("cpa:rop-token");
        } else {
            // Cookie
            throw "NotImplementedError"
        }
    };

    var loadInterface = function (user) {
        $('#user-widget').html('You are logged in as: ' + user.name);
        $('#logout-btn').removeClass('hide').click(function () {
            removeToken();
            location.reload();
        });
        $('#rop-access-info').html('Expires at ' + getExpirationDate());
    };

    var loadProfile = function (done) {
        var token = getToken();

        if (token) {
            jQuery.ajax({
                url: "<%= profileUrl %>",
                type: "GET",
                headers: {
                    "Authorization": "Bearer " + token,
                    "Content-Type": "application/x-www-form-urlencoded"
                }
            })
                .done(function (data, textStatus, jqXHR) {
                    console.log("HTTP Request Succeeded: " + jqXHR.status);
                    console.log(data);
                    done(data.user);

                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    console.log("HTTP Request Failed");
                    done();
                });
        }
        else {
            done();
        }
    };

    function connectRop() {
        var resourceOwner = $('#login-username').val();
        var password = $('#login-password').val();

        var data = {
            grant_type: 'password',
            username: resourceOwner,
            password: password,
            client_id: "db05acb0c6ed902e5a5b7f5ab79e7144",
            client_secret: "49b7448061fed2319168eb2449ef3b58226a9c554b3ff0b138abe8ffad98"
        };
        jQuery.ajax(
            {
                url: "<%= ropUrl %>",
                type: "POST",
                data: data,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            }
        ).done(
            function (data, textStatus, jqXhr) {
                storeToken(data.access_token, data.refresh_token, data.expires_in);
                location.reload();
            }
        ).fail(
            function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
                // location.reload();
            }
        );
    }

    function useRefreshToken() {
        var refreshToken = getRefreshToken();

        var data = {
            grant_type: 'refresh_token',
            refresh_token: refreshToken,
            client_id: '<%- client_id %>',
            client_secret: '<%- client_secret %>'
        };

        jQuery.ajax(
            {
                url: "<%= ropUrl %>",
                type: "POST",
                data: data,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
            }
        ).done(
            function (data, textStatus, jqXhr) {
                storeToken(data.access_token, data.refresh_token, data.expires_in);
                location.reload();
            }
        ).fail(
            function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
                // location.reload();
            }
        );
    }


    $(function () {
        loadProfile(function (user) {
            if (user) {
                loadInterface(user);
            }
            else {
                $('#login-btn').removeClass('hide');
                $('#login-area').removeClass('hide');
            }
            if (getRefreshToken()) {
                $('#rop-refresh-btn').removeClass('hide');
            }
        });
    });

</script>


<% include layout/foot %>
